@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans'
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #666;
    background-color: #f9f9f9;
}

h1, h2, h3 {
    color: #4b4b4b;
    margin: 1.2em 0 .5em 0;
}
.calContent {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border: solid 1px #eee;
    border-radius: 10px;
}
